@import '../../vars.css';

.card {
    width: 95%;
    height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-dark);
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

.card:hover {
    background-color: var(--color-secondary);
    scale: 1.05;
}

.imgContainer{
    height: 270px;
    width: 97%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

}

.card img{
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out 0s;
}

.card:hover img{
    scale: 1.1;
}

.card .heading {
    color: var(--color-text);
}

.card .description {
    color: var(--color-text);
    text-align: justify
}

.projectLinks {
    display: flex;
    justify-content: space-around;
}

.projectLinks a {
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 7px 15px;
    border-radius: 15px;
}


