@import '../../vars.css';

.container{
    z-index: 1;
    background-color: var(--color-secondary);
    margin-top: 70px;
    padding: 2rem;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}

.content .leftContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content .leftContainer h1{
    color: var(--color-text);
    font-size: 4rem;
    font-size: 600;
}

.content .leftContainer p{
    color: var(--color-text);
    font-size: 1.7rem;
}

.content .rightContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content .rightContainer .contactLink{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}


.content .rightContainer i{
    color: var(--color-text);
    font-size: 30px;
}

.content .rightContainer p{
    color: var(--color-text);
    font-size: 1.3rem;
}

@media screen and (max-width: 720px){
    .content{
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 500px){
    .content .leftContainer h1{
        font-size: 3rem;
        text-align: center;
    }

    .content .leftContainer p{
        font-size: 1.2rem;
        text-align: center;
    }

    
}