@import '../../vars.css';

.container{
    z-index: 1;
    background-color: var(--color-secondary);
    padding: 2rem;
    margin-top: 70px;
}

.content{
    margin-bottom: 20px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: var(--color-text);
    font-size: 3rem;
    text-align: center;
}

.content p{
    text-align: center;
    color: var(--color-text);
    margin-left: 20%;
    font-size: 1.2rem;
    margin-right: 20%;
}

.content .socialLinks{
    display: flex;
    gap: 1.8rem;
}

.content .linkContainer i{
    font-size: 2rem;
    color: var(--color-bg);
    transition: all 0.15s linear 0s;
}

.content .linkContainer i:hover{
    color: var(--color-text);
}

@media screen and (max-width:700px){
    .content p{
        margin: 0;
    }
}

@media screen and (max-width:400px){
    .content .socialLinks{
        flex-direction: column;
    }
}