@import './vars.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: var(--color-dark); 
}


::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 4px; 
}



